<style>
 body 
 	{
        background-color: #444;
        background: url(https://thumbs.dreamstime.com/b/vintage-paper-texture-light-background-brown-34208825.jpg);
    }
.vertical-offset-100{
    padding-top:10px;
}
</style>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body data-ng-controller='UserController'>
<div class="container" align="justify">
		<div class="row vertical-offset-100">
		    <div class="col-md-6 col-md-offset-4">
		    	<div class="panel panel-default">
					<div class="panel-heading">
				    	<h3 class="panel-title" align="center"><i>Blog Post</i></h3>
				 	</div>
{{message}}
<formset><br>
<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Blog Title</i></label><input ng-model="blogPost.title">
</div>
<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Blog Description</i></label><textarea ng-model="blogPost.description"></textarea>
</div>
<div class="form-group" align="center">
							<button class="btn btn-default" ng-click="saveBlogPost()" >Post Blog</button>
</div>
</formset>
</div>
</div>
</div>
</div>
</body>
</html>