<style>
 body 
 	{
        background-color: #444;
        background: url(https://thumbs.dreamstime.com/b/vintage-paper-texture-light-background-brown-34208825.jpg);
    }
.vertical-offset-100{
    padding-top:10px;
}
</style>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body data-ng-controller='UserController'>
<div class="container" align="center">
		<div class="row vertical-offset-100">
		    <div class="col-md-8 col-md-offset-14">
		    	<div class="panel panel-default">
					<div class="panel-heading">
				    	<h3 class="panel-title" align="center"><i>List of Pending requests</i></h3>
				 	</div>
				 	
				 	
<table class="table">

<tr ng-repeat="pr in listOfPendingRequests">
<td>{{pr.fromId}}</td><td><img src="http://localhost:8181/backend-project2/getimage/{{pr.fromId}}" height="50" width="50"></td><td><a href="" ng-click="updatePendingRequest(pr.fromId,'A')" class="btn btn-default">Accept</a></td>

<td><a href="" ng-click="updatePendingRequest(pr.fromId,'D')" class="btn btn-default">Reject</a></td>
</tr>

</table>
</div>
</div>
</div>
</div>
</body>
</html>